IndentWidth: 4
PointerAlignment: Left
AlignConsecutiveAssignments: Consecutive
NamespaceIndentation: None
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
BreakBeforeBinaryOperators: None
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: Both
BreakBeforeBraces: Attach
FixNamespaceComments: true
ReflowComments: true
SortIncludes: CaseSensitive
SortUsingDeclarations: true
Standard: c++17
IncludeBlocks: Regroup
KeepEmptyLinesAtTheStartOfBlocks: false
ColumnLimit: 120