[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/bouncyphoton/glfw
[submodule "external/SPIRV-Reflect"]
	path = external/SPIRV-Reflect
	url = https://github.com/bouncyphoton/SPIRV-Reflect
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/bouncyphoton/VulkanMemoryAllocator.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/bouncyphoton/glm
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://www.github.com/bouncyphoton/tinyobjloader
